<h1>Portfolio Items</h1>
<%= link_to "Create New Item", new_portfolio_path %>
<% @portfolio_items.each do |portfolio|%>
  <h4> <%= link_to portfolio.title, portfolio_path(portfolio) %> </h4>
  <p> <%= portfolio.subtitle %> </p>
  <p> <%= portfolio.body %> </p>
  <p> <%=  image_tag portfolio.thumb_image if !portfolio.thumb_image.nil? %></p>
  <p> <%= link_to "Edit", edit_portfolio_path(portfolio.id) %>

  <p> <%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>